<div ng-controller="ChatCtrl" class="container">
  <h2>fz-im Chat Room</h2>
  <h4>Channel:
    <span ng-bind="channel" ng-init="channel='<%= channel_id %>'" ng-click="changeChannel()"></span>
  </h4>
  <% if (typeof isPrivateOwner != 'undefined' && isPrivateOwner) { %>
  <button style="display:block;margin:10px auto;"
          class="btn btn-default"
          ng-click="addUser()">Add User</button>
  <% } %>

  <div class="main-content">
    <div class="message-container">
      <div class="message" ng-repeat="message in messages">
        <span class="username" ng-bind="message.sender + ':'"></span>
        <span ng-bind="message.message"></span>
      </div>
    </div>

    <div id="input-form">
      <div class="form-group col-xs-9" style="padding: 0">
        <input type="text" id="input-message" ng-model="inputMessage"
               ng-keydown="inputKeyDown($event)" class="form-control">
      </div>
      <button id="input-button" class="col-xs-3 btn btn-default"
              ng-click="sendMessage()">
        Submit
      </button>
    </div>

<!--     <ul class="user-list">
      <li class="username" ng-repeat="username in users" ng-bind="username"></li>
    </ul> -->
  </div>
</div>
