<div class="container">
  <h2>Login</h2>
  <form method="POST" action="/auth/local?next=/">
    <label for="username">Username</label>
    <input class="form-control" type="text" id="username" name="identifier">

    <label for="password">Password</label>
    <input class="form-control" type="password" id="password" name="password">

    <input class="btn btn-default" type="submit">
  </form>
</div>
