<div class="container">
  <h2>Register</h2>
  <form method="POST" action="/user?next=/login">
    <label for="username">Username</label>
    <input class="form-control" type="text" id="username" name="username">

    <label for="password">Password</label>
    <input class="form-control" type="text" id="password" name="password">

    <input class="btn btn-default" type="submit">
  </form>
</div>
