@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

h2, h4 {
  margin: 10 auto;
  text-align: center;
}

div.message-container {
  background: #F0F0F0;
  padding: 5px;
  height: 560px;
  overflow-y: scroll;
}

div#input-form .btn, .form-control {
  border-radius: 0;
}

.username {
  font-weight: bold;
}
